body{
    display: grid;
    place-items: center;
    height: 100vh;

    background-image: linear-gradient(to left,rgb(114, 104, 104),skyblue);

}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
    height: 40%;
    width: 50%;
    border:2px solid black;
    border-bottom-left-radius:10px ;
    border-top-right-radius: 10px;
    background-color: white;
   
}
.input{
    box-sizing: border-box;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    background-color: white;
    
}
.input1{
    box-sizing: border-box;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    background-color: white;
}
.h1{
    cursor: pointer;
    color:black;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.h1::after{
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    background-image: linear-gradient(to left,#19547b,#ffd89b);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}
.h1:hover::after{
    transform: scalex(1);
    transform-origin: bottom left;
}
.label{
    text-align: none;
    color: white;
    font-size: 16px;
    position: relative;
    left: -45px;
    top: -50px;
    right: 30px;
    transition: 0.3s;
    pointer-events: none;
    background-color: white;
}
.input:focus + .label{
    top: -38px;
    color:black;
    background: linear-gradient(to bottom,white 50% ,white 100%);
}
.label1{
    text-align: none;
    color: #737373;
    font-size: 16px;
    position: relative;
    left: -80px;
    top: -25px;
    right: 30px;
    transition: 0.3s;
    pointer-events: none;
}
#shorten{
    position: relative;
    right: -180px;
    bottom: 45px;
    background-color: black;
    color: white;
    height: 30px;
    width: 80px;
}
#copy{
    position: relative;
    right: -180px;
    bottom: 30px;
    background-color: black;
    color: white;
    height: 30px;
    width: 80px;
}
section{
    color: white;
}